<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated polybot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="polybot.presentation.PolybotModelWizardID"
            name="%_UI_PolybotModelWizard_label"
            class="polybot.presentation.PolybotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PolybotModelFile.gif">
         <description>%_UI_PolybotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated polybot -->
      <editor
            id="polybot.presentation.PolybotEditorID"
            name="%_UI_PolybotEditor_label"
            icon="icons/full/obj16/PolybotModelFile.gif"
            extensions="polybot"
            class="polybot.presentation.PolybotEditor"
            contributorClass="polybot.presentation.PolybotActionBarContributor">
      </editor>
   </extension>

</plugin>
